body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

form input, textarea, button {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

button {
  background: #2563eb;
  color: white;
  cursor: pointer;
}

.card {
  background: #1e293b;
  padding: 15px;
  border-radius: 12px;
  margin-top: 10px;
}

.card a {
  color: #38bdf8;
  text-decoration: none;
}

.password {
  letter-spacing: 2px;
}
